
 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;800&display=swap');   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: lightgray;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    height: calc(100vh -1px);
    margin: 1.25rem;
}

.container {
    background-color: white;
    color: hsl(220, 15%, 55%);
    padding: 1.25rem;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}
.container, img{
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}
.container h1 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-bottom: 1rem;
}



p {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-weight: 700;
}

.attribution {
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

 @media (min-width:500px) { 
    .container {
        width: 400px;
    }
 }